In [ ]:
#When to use Tuple?
""" As tuples and lists are similar data structures, and they both allow sequential data storage, tuples are often referred to as immutable lists. So the tuples are used for the following requirements instead of lists.

There are no append() or extend() to add items and similarly no remove() or pop() methods to remove items. This ensures that the data is write-protected. As the tuples are Unchangeable, they can be used to represent read-only or fixed data that does not change.
As they are immutable, they can be used as a key for the dictionaries, while lists cannot be used for this purpose.
As they are immutable, the search operation is much faster than the lists. This is because the id of the items remains constant.
Tuples contain heterogeneous (all types) data that offers huge flexibility in data that contains combinations of data types like alphanumeric characters. """

In [1]:
tuple_el=(5,6,8,0,1)
print(tuple_el)

(5, 6, 8, 0, 1)

In [2]:
#A tuple can have items of different data type integer, float, list, string, etc;
# create a tuple using ()
# number tuple
number_tuple = (10, 20, 25.75)
print(number_tuple)
# Output (10, 20, 25.75)

# string tuple
string_tuple = ('Jessa', 'Emma', 'Kelly')
print(string_tuple)
# Output ('Jessa', 'Emma', 'Kelly')

# mixed type tuple
sample_tuple = ('Jessa', 30, 45.75, [25, 78])
print(sample_tuple)
# Output ('Jessa', 30, 45.75, [25, 78])

# create a tuple using tuple() constructor
sample_tuple2 = tuple(('Jessa', 30, 45.75, [23, 78]))
print(sample_tuple2)
# Output ('Jessa', 30, 45.75, [23, 78])

(10, 20, 25.75)
('Jessa', 'Emma', 'Kelly')
('Jessa', 30, 45.75, [25, 78])
('Jessa', 30, 45.75, [23, 78])

In [11]:
#Create a tuple with a single item
""" A single item tuple is created by enclosing one item inside parentheses followed by a comma. 
If the tuple time is a string enclosed within parentheses and not followed by a comma, Python treats it as a str type. Let us see this with an example. """
single_tuple = ('Hello')
print(type(single_tuple))  
# Output class 'str'
print(single_tuple)  
# Output Hello

# with comma
single_tuple1 = ('Hello',)  
# output class 'tuple'
print(type(single_tuple1))  
# Output ('Hello',)
print(single_tuple1)

<class 'str'>
Hello
<class 'tuple'>
('Hello',)

In [12]:
#Packing and Unpacking
""" In Python, we can create a tuple by packing a group of variables. Packing can be used when we want to collect multiple values in a single variable. Generally, this operation is referred to as tuple packing.
Similarly, we can unpack the items by just assigning the tuple items to the same number of variables. This process is called “Unpacking.” """
# packing variables into tuple
tuple1 = 1, 2, "Hello"
# display tuple
print(tuple1)  
# Output (1, 2, 'Hello')

print(type(tuple1))  
# Output class 'tuple'

# unpacking tuple into variable
i, j, k = tuple1
# printing the variables
print(i, j, k)
# Output 1 2 Hello

(1, 2, 'Hello')
<class 'tuple'>
1 2 Hello

In [14]:
#Length of a Tuple
""" The len() function returns the number of items in a tuple. """
tuple1 = ('P', 'Y', 'T', 'H', 'O', 'N')
# length of a tuple
print(len(tuple1))

6

In [15]:
#Iterating a Tuple
sample_tuple = tuple((1, 2, 3, "Hello", [4, 8, 16]))
for item in sample_tuple:
    print(item)

1
2
3
Hello
[4, 8, 16]

In [17]:
#Accessing items of a Tuple
#using Indexing 
#Using Slicing 
tuple1 = ('P', 'Y', 'T', 'H', 'O', 'N')
for i in range(4):
    print(tuple1[i])

P
Y
T
H

In [18]:
tuple1 = ('P', 'Y', 'T', 'H', 'O', 'N')

# IndexError: tuple index out of range
print(tuple1[7])

IndexError: tuple index out of range

In [20]:
#Negative Indexing
print(tuple1[-1])  # N
# print second last
print(tuple1[-2])  # O
for i in range(-6, 0):
    print(tuple1[i], end=", ")

N
O
P, Y, T, H, O, N,

In [21]:
tuple1 = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# slice a tuple with start and end index number
print(tuple1[1:5])
# Output (1, 2, 3, 4)

(1, 2, 3, 4)

In [22]:
tuple1 = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# slice a tuple without start index
print(tuple1[:5])
# Output (0, 1, 2, 3, 4)

# slice a tuple without end index
print(tuple1[6:])
# Output (6, 7, 8, 9, 10)

(0, 1, 2, 3, 4)
(6, 7, 8, 9, 10)

In [23]:
tuple1 = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# slice a tuple using negative indexing
print(tuple1[-5:-1])

(6, 7, 8, 9)

In [24]:
#Finding an item in a Tuple
#The index() method accepts the following three arguments
#item – The item which needs to be searched
#start – (Optional) The starting value of the index from which the search will start
#end – (Optional) The end value of the index search
tuple1 = (10, 20, 30, 40, 50)

# get index of item 30
position = tuple1.index(30)
print(position)

2

In [25]:
tuple1 = (10, 20, 30, 40, 50, 60, 70, 80)
# checking whether item 50 exists in tuple
print(50 in tuple1)
# Output True
print(500 in tuple1)
# Output False

True
False

In [26]:
#Adding and changing items in a Tuple
tuple1 = (0, 1, 2, 3, 4, 5)
tuple1[1] = 10
# Output TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [27]:
""" As a workaround solution, we can convert the tuple to a list, add items, and then convert it back to a tuple. As tuples are ordered collection like lists the items always get added in the end. """
tuple1 = (0, 1, 2, 3, 4, 5)

# converting tuple into a list
sample_list = list(tuple1)
# add item to list
sample_list.append(6)

# converting list back into a tuple
tuple1 = tuple(sample_list)
print(tuple1)

(0, 1, 2, 3, 4, 5, 6)

In [28]:
#Modify nested items of a tuple
tuple1 = (0, 1, 2, [3, 4, 5])
tuple1[3][0] = 10
print(tuple1)

(0, 1, 2, [10, 4, 5])

In [29]:
#Removing items from a tuple
""" Tuples are immutable so there are no pop() or remove() methods for the tuple. We can remove the items from a tuple using the following two ways.

Using del keyword del keyword will delete the entire tuple
By converting it into a list """
sampletup1 =(0,1,2,3,4,5,6,7,8,9,10)
del sampletup1

print(sampletup1)

NameError: name 'sampletup1' is not defined

In [30]:
#By converting it into a List
#We can convert a tuple into a list and then remove any one item using the remove() method. Then again we will convert it back into a tuple using the tuple() constructor.
tuple1 = (0, 1, 2, 3, 4, 5)

# converting tuple into a list
sample_list = list(tuple1)
# reomve 2nd item
sample_list.remove(2)

# converting list back into a tuple
tuple1 = tuple(sample_list)
print(tuple1)  
# Output (0, 1, 3, 4, 5)

(0, 1, 3, 4, 5)

In [31]:
#Count the occurrence of an item in a tuple
tuple1 = (10, 20, 60, 30, 60, 40, 60)
# Count all occurrences of item 60
count = tuple1.count(60)
print(count)
# Output 3

count = tuple1.count(600)
print(count)
# Output 0

3
0

In [32]:
#Copying a tuple
#We can create a copy of a tuple using the assignment operator '=' . This operation will create only a reference copy and not a deep copy because tuples are immutable.
#Copying a tuple
tuple1 = (0, 1, 2, 3, 4, 5)

# copy tuple
tuple2 = tuple1
print(tuple2)
# Output (0, 1, 2, 3, 4, 5)

# changing tuple2
# converting it into a list
sample_list = list(tuple2)
sample_list.append(6)

# converting list back into a tuple2
tuple2 = tuple(sample_list)

# printing the two tuples
print(tuple1)
# Output (0, 1, 2, 3, 4, 5)
print(tuple2)
# Output (0, 1, 2, 3, 4, 5, 6)

(0, 1, 2, 3, 4, 5)
(0, 1, 2, 3, 4, 5)
(0, 1, 2, 3, 4, 5, 6)

In [33]:
#Concatenating two Tuples
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 4, 5, 6, 7)

# concatenate tuples using + operator
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

In [34]:
#Using the sum() function
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 4, 5, 6, 7)

# using sum function
tuple3 = sum((tuple1, tuple2), ())
print(tuple3)

(1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

In [35]:
#Using the chain() function
import itertools
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 4, 5, 6, 7)
tuple3 = tuple(item for item in itertools.chain(tuple1,tuple2))
print(tuple3)

(1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

In [36]:
#Nested Tuples
nested_tuple=((20,40,60),(10, 30, 50), "Python")
print(nested_tuple[2][0])
for i in nested_tuple:
    print("tuple",i,"elements")
    for j in i:
        print(j,end=",")
    print("\n")

P
tuple (20, 40, 60) elements
20,40,60,

tuple (10, 30, 50) elements
10,30,50,

tuple Python elements
P,y,t,h,o,n,

In [37]:
#Use built-in functions with tuple
tuple1 = ('xyz', 'zara', 'abc')
# The Maximum value in a string tuple
print(max(tuple1))  
# Output zara

# The minimum value in a string tuple
print(min(tuple1))
# Output abc

tuple2 = (11, 22, 10, 4)
# The Maximum value in a integer tuple
print(max(tuple2))
# Output 22
# The minimum value in a integer tuple
print(min(tuple2))
# Output 4

zara
abc
22
4

In [39]:
#Note: We can’t find the max() and min() for a heterogeneous tuple (mixed types of items). It will throw Type Error
tuple3 = ('a', 'e', 11, 22, 15)
# max item
print(max(tuple3))

TypeError: '>' not supported between instances of 'int' and 'str'

In [41]:
# all() with All True values
tuple1 = (1, 1, True)
print(all(tuple1))  # True

# all() All True values
tuple1 = (1, 1, True)
print(all(tuple1))  # True

# all() with One false value
tuple2 = (0, 1, True, 1)
print(all(tuple2))  # False

# all() with all false values
tuple3 = (0, 0, False)
print(all(tuple3))  # False

# all() Empty tuple
tuple4 = ()
print(all(tuple4))  # True

True
True
False
False
True

In [40]:
# any() with All True values
tuple1 = (1, 1, True)
print(any(tuple1))  # True

# any() with One false value
tuple2 = (0, 1, True, 1)
print(any(tuple2))  # True

# any() with all false values
tuple3 = (0, 0, False)
print(any(tuple3))  # False

# any() with Empty tuple
tuple4 = ()
print(any(tuple4))  # False

True
True
False
False